@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600;700&display=swap");
body {
    margin: 0;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: auto;
    color: #2a3134;
    background: #f2f5ff;
}

#page {
    opacity: 0;
    transition-duration: 500ms;
}

h3 {
    font-family: IBM Plex Serif;
    font-weight: 600;
    font-size: 24px;
    padding: 24px 0 4px 0;
    /* Dark */
    color: #30345a;
}

h4 {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: -10px;
}

.spaced {
    max-width: 600px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px 10px 28px;
}

.header-logo {
    padding-right: 16px;
}

input[type="search"] {
    background: #eef3f6;
    color: #7c94a1;
    padding: 8px;
    max-width: 300px;
    flex-grow: 1;
    margin-bottom: 4px;
}

.no-top-margin {
    margin-top: -13px;
}

.status-tile {
    font-size: 16px;
    font-weight: 700;
    padding: 6px 16px 10px 16px;
    margin: 20px 0px 4px 0;
    border-radius: 8px;
    transition: 0.2s;
    text-transform: uppercase;
    transition-property: transform;
    display: inline-block;
}

.statu-tile:active {
    transform: translateY(2px);
}

.claim {
    font-family: IBM Plex Serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.1px;
    padding: 8px 0 4px 0;
}

.reported {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #595d7b;
    opacity: 0.75;
    padding-bottom: 4px;
}

.header-text {
    color: #ffffff;
    vertical-align: middle;
    font-weight: 600;
    font-size: 24px;
}

.search {
    width: 320px;
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 18px;
    color: #ffffff;
    vertical-align: middle;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.search:active {
    border: 1px solid #ffffff;
}

.bg-header {
    background: #ffffff;
    border-bottom: 0.5px solid #b0b4c2;
}

.bg-red {
    background: #f97777;
}

.bg-green {
    background: #49d2a7;
}

.bg-blue {
    background: #49b8d2;
}

.bg-green {
    background: #49d2a7;
}

.bg-misleading {
    background: #ffb36a;
}

.smaller {
    font-size: 14px;
}

#alert {
    margin-top: 20px;
    opacity: 0.75;
    background: #ffffff;
    padding: 12px;
    border-radius: 4px;
}


/* Alert boxes and themes */

.alert {
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    margin: 16px 20px 16px 20px;
}

.alert-inside {
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    margin: 14px -4px 4px -4px;
}

.fake {
    background: #ffeff0;
    border: 1px solid #ff6072;
}

.true {
    background: #dbf6ed;
    border: 1px solid #49d2a7;
}

.misleading {
    background: #fdb76c;
    border: 1px solid #fff4e8;
}

.fabricated {
    background: #ff726d;
    color: #ffffff;
}

.dontknow {
    background: #f1f4f5;
    border: 1px solid #7397a0;
}

.text-dark-red {
    color: #e25453;
}

.text-dark-green {
    color: #1f9d75;
}

.opacity75 {
    opacity: 0.75;
}

.opacity60 {
    opacity: 0.6;
}

.opacity50 {
    opacity: 0.5;
}

.bold {
    font-weight: 600;
}

.weblink {
    max-width: 570px;
    margin: -20px auto 16px auto;
    border: 1px solid #7397a0;
    background: #ffffff;
    display: block;
    transition: 0.2s;
    transition-property: transform;
}

.weblink:active {
    transform: translateY(-1px);
}

.weblink:hover {
    transform: translateY(-1px);
}

a {
    text-decoration: none;
}

a.alert.weblink {
    text-decoration: none;
}

a.alert.weblink:link {
    color: #2a3134;
}

a.alert.weblink:visited {
    color: #2a3134;
}

.whatsapp-message {
    background: #e0f9cd;
    border: 1px solid #82ae61;
    border-radius: 8px;
    padding: 4px 20px 8px 24px;
    margin: 16px 20px 8px 20px;
}

.post-container {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    /* Dark 25% */
    border: 0.5px solid rgba(10, 48, 65, 0.25);
    box-shadow: 0px 0px 4px rgba(70, 136, 241, 0.2);
    border-radius: 4px;
    padding: 0 16px 0px 16px;
}

#allPostContainer {
    margin: 0 5%;
}

.home-post-container {
    display: inline-block;
    vertical-align: top;
    max-width: 25%;
    margin: 8px 1%;
    background: #ffffff;
    color: #2a3134;
    border: 0.5px solid rgba(10, 48, 65, 0.25);
    box-shadow: 0px 0px 4px rgba(70, 136, 241, 0.2);
    border-radius: 4px;
    padding: 8px 20px;
}

#addFactCheckButton {
    display: none;
}

#alert {
    display: none;
}

.limited {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.whatsapp-image {
    border-radius: 8px;
    margin: 4px 20px 4px 20px;
    max-width: 360px;
    background: #e0f9cd;
    padding: 4px;
    border: 1px solid #82ae61;
}

.message-preview {
    max-height: 240px;
    overflow: hidden;
    background: -webkit-linear-gradient(#2a3134, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon24 {
    padding-right: 4px;
    transform: translateY(3px);
    width: 24px;
    height: 24px;
}

.icon20 {
    padding-right: 6px;
    transform: translateY(4px);
    width: 20px;
    height: 20px;
}

.icon16 {
    padding-right: 3px;
    transform: translateY(4px);
    width: 16px;
    height: 16px;
    stroke-width: 2;
}

.button {
    font-size: 16px;
    font-weight: 500;
    color: #4b83ff;
    padding: 6px 16px 10px 16px;
    margin: -4px 8px 16px 0;
    background: #dfe9ff;
    border-radius: 8px;
    transition: 0.2s;
    transition-property: transform;
    display: inline-block;
}

.status-unverified {
    padding-top: 4px;
    font-weight: 700;
    color: #595d7b;
    text-align: left;
}

.status-false {
    padding-top: 4px;
    font-weight: 700;
    color: #ff726d;
    text-align: left;
}

.status-true {
    padding-top: 4px;
    font-weight: 700;
    color: #2ca782;
    text-align: left;
}

.home-reported {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #7a7d95;
    opacity: 0.75;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.green {
    color: #7a7d95;
    background: #f8f8ff;
    border-radius: 12px;
}

.green:hover {
    color: #2ca782;
    background: #d9f7ee;
}

.red {
    color: #7a7d95;
    background: #f8f8ff;
    border-radius: 12px;
}

.red:hover {
    color: #ff726d;
    background: #ffefef;
}

.moredetails {
    font-weight: 500;
    right: 0;
    color: #a2a4b5;
    display: inline-block;
    margin-top: -6px;
    margin-bottom: 12px;
}

.button:active {
    transform: translateY(2px);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.comment-section {
    background: #ffffff;
    border-top: 1px solid #c1d3d9;
}

.comment-container {
    padding: 8px 0 12px 0;
    border-bottom: 0.5px solid #abcbc8;
    margin-bottom: 4px;
}

.comment-metadata {
    padding-top: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 167% */
    letter-spacing: 0.2px;
    /* Dark 80% */
    color: #595d7b;
    opacity: 0.75;
}

.smallcaps {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding-top: 4px;
}

#response {
    opacity: 0;
}

#improve {
    display: none;
}

.improve-label {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.1px;
    color: #224454;
    padding-bottom: 4px;
}

.comment-box {
    width: 600px;
    padding: 12px;
    margin: 4px auto 16px auto;
    line-height: 1.5;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #2a3134;
    border: 0.5px solid rgba(10, 48, 65, 0.25);
    box-shadow: 0px 0px 4px rgba(70, 136, 241, 0.2);
    border-radius: 4px;
}

footer {
    margin-top: 40px;
    background: #595d7b;
    color: #d5d7de;
    padding: 32px 24px 20px 24px;
}

footer a {
    color: #d5d7de;
    text-decoration: none;
}

.landing {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headerimg {
    width: 30%;
    margin: 0 2% 0 8%;
}

.landing-text {
    max-width: 50%;
    margin: 0 8% 0 2%;
}

.vote-option-container {
    display: flex;
    flex-direction: row;
    max-width: 620px;
    margin: auto;
    padding-top: 8px;
}

.vote-option {
    width: 160px;
    margin: 6px;
    background: #ffffff;
    /* Dark 25% */
    border: 0.5px solid rgba(10, 48, 65, 0.25);
    box-shadow: 0px 0px 4px rgba(70, 136, 241, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 6px;
}

.vote-type {
    margin-top: 1px;
    margin-bottom: 0px;
}

.num-votes {
    font-size: 13px;
    opacity: 75%;
    margin-top: -14px;
    padding-bottom: 14px;
}

.vote-icon {
    align-self: center;
    height: 36px;
    width: 36px;
    padding: 4px 8px 4px 4px;
}

#vote-true:hover {
    background: #b6eddc;
}

#vote-misleading:hover {
    background: #fee2c4;
}

#vote-partlyfake:hover {
    background: #ffedc3;
}

#vote-fake:hover {
    background: #fdc9c9;
}

@media only screen and (max-width: 768px) {
    .whatsapp-image {
        max-width: 70%;
    }
    .post-container {
        max-width: 90%;
        margin: 8px 5% 0 5%;
    }
    #allPostContainer {
        padding: 0;
        vertical-align: top;
        margin: auto;
    }
    .home-post-container {
        max-width: 100%;
        margin: 0px 5% 16px 5%;
    }
    .weblink {
        max-width: 80%;
        margin: -20px auto 16px auto;
    }
    .spaced {
        margin-left: 24px;
        margin-right: 24px;
    }
    input[type="search"] {
        max-width: 160px;
    }
    .comment-box {
        max-width: 100%;
        margin: 4px auto 16px auto;
    }
    .landing {
        flex-direction: column;
    }
    .headerimg {
        margin: 0;
        width: 100%;
    }
    .landing-text {
        margin: 0;
        flex-basis: 50%;
        padding: 0;
        max-width: 84%;
    }
    .vote-option-container {
        margin: 0 8px 0 8px;
    }
    .vote-option {
        flex-direction: column;
        margin: 4px;
    }
    .vote-text {
        text-align: center;
    }
}